<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Cart</title>
  </head>
  <body>
    <h1>Cart</h1>

    <h3>NodeJS and Express Book</h3>
    <p>Price: $50.00</p>
    <p>Quantity: 1</p>

    <form action="/api/v1/checkout" method="POST">
      <input type="submit" value="Checkout" />
    </form>
  </body>
</html>
l
