<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center">Plans</h1>

    <h2>Starter</h2>
    <p><b>$20/month</b></p>
    <p>This is Starter plan</p>
    <a href="/api/v1/checkout/subscribe?plan=starter">Subscribe</a>

    <br /><br /><br />

    <h2>Pro</h2>
    <p><b>$40/month</b></p>
    <p>This is Pro plan</p>
    <a href="/api/v1/checkout/subscribe?plan=pro">Subscribe</a>
  </body>
</html>
